 <nav class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <%= link_to t(".title"), root_path, class:"navbar-brand" %>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t(".home") %></li>
      <li><%= link_to t(".profile") %></li>
    </ul>
  </div>
</nav>
