@import "bootstrap-sprockets";
@import "bootstrap";

.sidebar {
  padding: 0;
  text-align: center;
  background-color: #d7dde4;
  position: fixed;
  height: 100%;
}

.navbar-static-top {
  margin: 0;
  background-color: #d7dde4;
}

.navbar-right {
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 50px;
  padding-left: 50px;
}
