<table class="table">
  <thead>
    <tr>
      <th><%= t ".create_time" %></th>
      <th><%= t ".question" %></th>
      <th><%= t ".subject" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @questions %>
  </tbody>
</table>
