<h1><%= t ".title" %></h1>

<%= link_to t(".create_question"), new_admin_question_path %>
<div class="table-responsive">
  <%= render "questions" %>
  <div class="align-center">
    <%== pagy_bootstrap_nav @pagy %>
  </div>
</div>
