.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.flex {
  display: flex !important ;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-col-rev {
  flex-direction: column-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.w-25 {
  width: 25px;
}

.align-end {
  align-items: end;
}

.m-20 {
  margin: 20px;
}

.m-5 {
  margin: 5px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-20 {
  margin: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.s-16 {
  font-size: 16px;
}

.w-200 {
  width: 200px;
}
