<% provide :title, t(".title") %>
<h1 class="page-header"><%= t ".user_list" %></h1>
<div class="flex-end">
  <%= render "search" %>
</div>
<div class="table-responsive">
  <%= render "users" %>
  <div class="align-center">
    <%== pagy_bootstrap_nav @pagy %>
  </div>
</div>
