<div class="footer">
  <div class="container">
    <p class="text-muted"><%= t ".change_language" %></p>
    <%= link_to t(".english"), locale: :en %> |
    <%= link_to t(".vietnamese"), locale: :vi %>
  </div>
</div>
